
<% if ( data.auth === false ) { %>
<div class="pane-white small-padding-top-2 small-padding-bottom-2">
	<div class="row">
		<div class="small-12 medium-8 large-6 medium-centered columns">
			<div class="callout success">
				Storitev je trenutno namenjena le pravnim osebam (podjetjem).
			</div>
			<form method="post" id="registerForm">
				<p>
					<span class="label radius alert">* Obvezni podatki</span>
				</p>
				<fieldset class="fieldset">
					<legend>Podatki uporabnika za prijavo</legend>
					<div class="row">
						<div class="columns medium-6">
							<label for="user_name">Ime *
								<input name="user[name]" id="user_name" type="text" data-validate="required" />
							</label>
						</div>
						<div class="columns medium-6">
							<label for="user_surname">Priimek *
								<input name="user[surname]" id="user_surname" type="text" data-validate="required" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="columns">
							<label>E-mail *
								<input name="user[email]" type="text" data-validate="required" data-validate-type="email" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="medium-6 columns">
							<label>Geslo *
								<input name="user[password]" type="password" placeholder="vsaj 7 znakov ..." data-validate="required" data-validate-type="password" data-validate-encrypt="md5" />
							</label>
						</div>
						<div class="medium-6 columns">
							<label>*
								<input name="user[password_retype]" type="password" placeholder="pretipkajte geslo" data-validate="required" data-validate-type="password_retype" data-validate-encrypt="md5" data-validate-bind="user[password]" />
							</label>
						</div>
					</div>
				</fieldset>
				<fieldset class="fieldset">
					<legend>Podatki o naročniku</legend>

					<div class="row">
						<div class="columns">
							<label>Naziv podjetja *
								<input name="client[company_title]" type="text" data-validate="required" />
							</label>
						</div>
						<div class="columns">
							<label>
								<input name="client[company_title_2]" type="text" />
							</label>
						</div>
					</div>
					<div class="row">

						<div class="medium-8 columns">
							<label>Davčna št. *
								<input name="client[vatin]" type="text" data-validate="required" />
							</label>
						</div>
						<div class="columns small-4">
							<label for="taxperson">
								Zavezanec za ddv
								<select id="taxperson" name="client[taxperson]">
									<option value="0">Ne</option>
									<option value="1">Da</option>
								</select>
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-4 columns">
							<label>Poštna št. *
								<input name="client[zip]" type="text" data-validate="required" autocomplete="off" />
							</label>
						</div>
						<div class="small-8 columns">
							<label>Kraj *
								<input name="client[city]" type="text" data-validate="required" autocomplete="off" />
							</label>
						</div>
					</div>
					<div class="row">
						<div class="small-8 columns">
							<label>Ulica brez hišne št. *
								<input name="client[address]" type="text" data-validate="required" autocomplete="off" />
							</label>
						</div>
						<div class="small-4 columns">
							<label>Hišna št. *
								<input name="client[address_nr]" type="text" data-validate="required" />
							</label>
						</div>
					</div>

					<div class="row">
						<div class="medium-6 columns">
							<label>Telefon *
								<input name="client[tel]" type="text" data-validate="required" />
							</label>
						</div>
						<div class="medium-6 columns">
							<label>E-mail za obveščanje *
								<input name="client[email]" type="text" data-validate="required" data-validate-type="email" />
							</label>
						</div>
					</div>
				</fieldset>
				<div class="row">
					<div class="columns">
						<input name="elist" type="checkbox" checked> <label>Želim prejemati novosti o vaši ponudbi in storitvah.</label>
					</div>
				</div>
				<div class="callout alert" id="registerFailed" style="display:none;">
					Registracija ni uspela.
				</div>
				<div id="loadingHolder"></div>
				<div class="row">
					<div class="columns">
						<button type="submit" class="radius expanded large button">
							Registriraj se
						</button>
					</div>
				</div>
			</form>

			<div id="registerSuccess" style="display:none;">
				<h1 name="success">Registracija uspešna!</h1>
				<p>Uspešno ste se registrirali na spletno stran!<br>
					Podatki o registraciji so poslani na vaš e-mail.</p>
				<br>
				<div class="row">
					<div class="columns small-6">
						<a class="button radius" href="<%==data.actions.home.link%>"><span class="icon-home"></span> Uvodna stran</a>
					</div>
					<div class="columns small-6">
						<a class="button radius" href="<%==data.actions.profile.link%>"><span class="icon-user"></span> Naročniški profil</a>
					</div>
				</div>
			</div>

			<div id="registerExists" style="display:none;">
				<h1 name="success">Uporabnik s tem e-mail naslovom že obstaja.</h1>
				<p>V kolikor poznate svoje geslo, se lahko na strani prijavite oziroma si geslo ponastavite.</p>

				<div class="row">
					<div class="columns small-6">
						<a class="button radius" href="<%==data.actions.login.link%>"><span class="icon-user"></span> Prijava na stran</a>
					</div>
					<div class="columns small-6">
						<a class="button radius" href="<%==data.actions.forgot.link%>"><span class="icon-login"></span> Obnovite pozabljeno geslo</a>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% } %>